<%= form_for(@patient, :html => { :class => "my-grid-form"} ) do |f| %>
   <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited
        this patient from being saved:</h2>
      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
        <div data-row-span="2">
            <div data-field-span="1">
                <%= f.label :name %><br>
                <%= f.text_field :name %>
            </div>
            <div data-field-span="1">
                <%= f.label :description %><br>
                <%= f.text_area :description, size: "22x6" %>
            </div>
        </div>
<br>
  <p>
    <%= f.submit %>
  </p>
<% end %>

