<%= form_for(@patient, :html => { :class => "grid-form"} ) do |f| %>
   <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited
        this patient from being saved:</h2>
      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
      <fieldset>
        <legend>Demographic Info</legend>
        <div data-row-span="2">
            <div data-field-span="1">
                <%= f.label :first_name %><br>
                <%= f.text_field :first_name %>
            </div>
      </fieldset>
            <div data-field-span="1">
                <%= f.label :last_name %><br>
                <%= f.text_field :last_name %>
            </div>
        </div>
<br>
    <div>
      <p>
        <%= f.submit %>
      </p>
    </div>
<% end %>

