<%= link_to 'All Patients', patients_path %>

<br><br>

<p>
  <strong>Name:</strong>
  <%= @patient.first_name %> <%= @patient.last_name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @patient.email %> 
</p>
 
<p>
  <strong>Phone Number:</strong>
  <%= @patient.phone_number %>
</p>

<p>
  <strong>Address</strong><br>
  <%= @patient.address %> <%= @patient.address_line_2 %><br>
  <%= @patient.city %>, <%= @patient.state %> <%= @patient.zip_code %>
</p>




<td><%= link_to 'Edit', edit_patient_path %></td>
